.header{
    display: flex;
    background-color: #1b1b1b;
    color: rgba(0, 0, 0, 0.55)
  }
  .home{
    display: flex;
    color : black
  }
  .list{
    display: flex;
    color: black
  }
  .form{
    display: flex;
    color:black
  }
  .suggestBox-MSIo5{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 0px;
      }